body {
  background-color: lightblue;
}

.content{
	border-top: 50px solid lightblue;
	border-left: 300px solid lightblue;
	border-right: 300px solid lightblue;
}

.tab{
	border: 15px solid lightblue;
    background-color: white;
}

.leftTab {	
    width: 30%;
    float:left;     
}

.rightTab {}