<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>				
</head>

<body>

	<div class="content" th:object="${command}">
		
		<!-- Left -->
		<div class="tab leftTab">
			<form th:action="@{{base}/home(base=${basePath})}" method="post">						
				<ul>
				  <li th:each="danceType : *{danceTypes}">
				    <input type="checkbox" th:field="*{selectedDanceTypes}" th:value="${danceType.id}" />
				    <label th:for="${#ids.prev('selectedDanceTypes')}" th:text="${danceType.name}">Dance Type</label>
				  </li>
				</ul>
				<button type="submit" class="button" name="action" value="Next">Submit</button>
			</form>			
		</div>
		
		<!-- Right -->
	    <div class="tab rightTab">
	    	<div th:each="article : *{articles}">
				<div th:text="${article.title}"></div>
				<div th:text="${article.date}"></div>
				<div th:text="${article.pair}"></div>
				<hr/>
			</div>
			<div th:if="*{#lists.isEmpty(articles)}">
				There are no articles.
			</div>
	    </div>
	    
	</div>
	
	

</body>
</html>